.chordvie {
    position: relative;
}

.sogea{
  margin-top: 10%;
  margin-bottom:  10%;
}

.space{
  padding: 30px 0;
}

.separate{
  margin-bottom: 25px;
}

.darkhead{
    color: #333;
    background-color: #f5f5f5 ;
    border-color: #ddd;

}

ul li{
  list-style: none;
}

.input-space{
  margin: 15px 0;
}

.fix-size{

}

.no-padding{
  padding: 0;
}

.no-padding table{
  margin-bottom: 0;
}
.no-padding .list-group{
  margin-bottom: 0;
}

.no-radius{
  border-radius: 0px;
}
.list-group-item:first-child {
    border-radius: 0;
        /*border-bottom: none;*/

}
<<<<<<< HEAD
/* Bootstrap tweaks */
/*.form-control{
    border-radius: 0px !ant;
}
.btn{
    border-radius: 0px !important;
}
.panel{
    border-radius: 0px !important;
}
.navbar-toggle{
    border-radius: 0px !important;
}
#main-search{
    background: url("http://127.0.0.1:8000/main-search.png");
    height:36px;
    width:36px;
}*/
<<<<<<< HEAD
=======

.owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav [class*=owl-] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

.owl-dots{
  color: black;
}
.owl-theme .owl-dots, .owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}
.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}
p.italic {
    font-style: italic;
}

.standardize{
   background-color: transparent;
   border: none;
}


.inline ul li{
  display: inline;
  padding: 2em;
}


/*error blades*/
.full-height {
  min-height: 100vh;

}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}



.content {
    text-align: center;
    font-family: 'Raleway', sans-serif;
      font-weight: 100;
}

.title {
    font-size: 60px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

footer{
      /*margin-bottom: 22px;*/
      border-top: 1px solid #d3e0e9; ;
      padding: 20px;
      background-color: #fff;
      color: #636b6f;

}
.chords-sidenav .nav>.active>ul {
    display: block;
}

.chords-sidenav .nav .nav {
    display: none;
    padding-bottom: 10px;
}

.chords-sidenav .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 13px;
    font-weight: 400;
}

h1[id] {
    padding-top: 20px;
    margin-top: 0;
}


.affix {
    top: 20px;
    width: 263px;
    z-index: 999;
}

@media screen and (max-width: 1200px) {

  .affix {
 position: static;
   width: 100%;
  }
}
