.sogea{
  margin-top: 15%;
    margin-bottom:  15%;
}

.space{
  padding: 30px 0;
}

.separate{
  margin-bottom: 25px;
}

.darkhead{
    color: #333;
    background-color: #f5f5f5 ;
    border-color: #ddd;

}

ul li{
  list-style: none;
}

.input-space{
  margin: 15px 0;
}

.fix-size{

}

.no-padding{
  padding: 0;
}

.no-padding table{
  margin-bottom: 0;
}
.no-padding .list-group{
  margin-bottom: 0;
}

.no-radius{
  border-radius: 0px;
}
.list-group-item:first-child {
    border-radius: 0;
}
<<<<<<< HEAD
/* Bootstrap tweaks */
/*.form-control{
    border-radius: 0px !important;
}
.btn{
    border-radius: 0px !important;
}
.panel{
    border-radius: 0px !important;
}
.navbar-toggle{
    border-radius: 0px !important;
}
#main-search{
    background: url("http://127.0.0.1:8000/main-search.png");
    height:36px;
    width:36px;
}*/
<<<<<<< HEAD
=======

.owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav [class*=owl-] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

.owl-dots{
  color: black;
}
.owl-theme .owl-dots, .owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}
.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}
p.italic {
    font-style: italic;
}

.standardize{
   background-color: transparent;
   border: none;
}
